<h1>All Recipes</h1>

<% if logged_in? && current_user.admin? %>
  <%= link_to "Sync all recipes", sync_recipes_path, method: "post" %>
  <%= link_to "logout", logout_path, method: "post" %>
<% end %>

<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <%= link_to recipe.name, recipe_path(recipe.id) %>
    </li>
  <% end %>
</ul>