<h1>All Recipes</h1>
<%= link_to "Sync all recipes", sync_recipes_path, method: "post" %>

<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <%= link_to recipe.name, recipe_path(recipe.id) %>
    </li>
  <% end %>
</ul>