<div class="recipe-header">
  <% if @recipe.photo_url %>
    <%= image_tag @recipe.photo_url, class: "recipe-image" %>
  <% end %>
  <h2 class="recipe-heading"><%= @recipe.name %></h1>
</div>
<div class="recipe-body">
  <div class="recipe-ingredients">
    <h3 class="recipe-heading">Ingredients</h1>
    <%= format_ingredients @recipe.ingredients %>
  </div>
  <div class="recipe-directions">
    <h3 class="recipe-heading">Directions</h1>
    <%= simple_format @recipe.directions %>
  </div>
</div>
