<div class="recipe-header">
  <%= image_tag @recipe.photo_url, class: "recipe-image" %>
  <h2 class="recipe-heading"><%= @recipe.name %></h1>
</div>
<div class="recipe-body">
  <div class="recipe-ingredients">
    <h3>Ingredients</h3>
    <%= format_ingredients @recipe.ingredients %>
  </div>
  <div class="recipe-directions">
    <h3>Directions</h3>
    <%= simple_format @recipe.directions %>
  </div>
</div>
