<% if flash.keys.any? %>
  <% flash.keys.each do |key| %>
    <div class="alert alert-<%=key %> alert-dismissable fade show" role="alert">
      <%= flash[key] %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
<% end %>

