<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @username %> has invited you to join Renz Recipes</p>
    <p><%= link_to "sign up", register_url %></p>
    <p><%= @message %>
  </body>
</html>