<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Click
      <%= link_to "here", reset_password_url(@user.token) %>
     to reset your password</p>
  </body>
</html>