html, body, .menu, .content
  min-height: 100vh

.content
  background: #F5F5F5

.menu
  background: #3E4249

  a
    color: #E5E5DA
    cursor: pointer
    display: block
    width: 100%
    padding-left: 10px
    &:hover
      background: #484D51
      text-decoration: none

h4, h5
  color: #9C0000
  font-weight: bold

h5
  font-size: 16px

h4
  font-size: 17px

.message
  margin: 10px 5px
  color: #E5E5DA

ul
  list-style-type: none

@media (max-width: 992px)
  html, body, .menu
    min-height: auto
  .content
    min-height: 100vh

.recipe-img
  border: 1px solid #C2C2C2 !important
  border-radius: 5px

