html, body, .menu, .content
  min-height: 100vh

.content
  background: #F5F5F5

body
  color: #454545

a
  text-decoration: none !important

h4, h5
  color: #9C0000
  font-weight: bold

h5
  font-size: 16px

h4
  font-size: 17px

.small-font
  font-size: 12px

ul
  list-style-type: none

.recipe-img
  border: 1px solid #C2C2C2 !important
  border-radius: 5px

.hide
  display: none

.avatar
  width: 40px
  height: 40px
  border-radius: 50%
  float: left

.heart-outline
  width: 30px
  height: 30px
  background: image-url("heart2.png") -35px -36px
  display: block
  zoom: 75%

.heart-solid
  width: 30px
  height: 30px
  background: image-url("heart2.png") 165px -36px
  display: block
  zoom: 75%

// .octicon-star
//   fill: #a8b8c3

.star-full
  fill: #ffdb70

.star-half
  fill: url(#grad)

.hidden
  display: none

.recipe-heading,
.rating-form
  .octicon-star
    width: 19px
    height: 22px

.rating
  fill: #a8b8c3

.stars-10
  .octicon-star:nth-child(1)
    fill: #ffdb70

.stars-15
  .octicon-star:nth-child(1)
    fill: #ffdb70
  .octicon-star:nth-child(2)
    fill: url(#grad)

.stars-20
  .octicon-star:nth-child(-n+2)
    fill: #ffdb70

.stars-25
  .octicon-star:nth-child(-n+2)
    fill: #ffdb70
  .octicon-star:nth-child(3)
    fill: url(#grad)

.stars-30
  .octicon-star:nth-child(-n+3)
    fill: #ffdb70

.stars-35
  .octicon-star:nth-child(-n+3)
    fill: #ffdb70
  .octicon-star:nth-child(4)
    fill: url(#grad)

.stars-40
  .octicon-star:nth-child(-n+4)
    fill: #ffdb70

.stars-45
  .octicon-star:nth-child(-n+4)
    fill: #ffdb70
  .octicon-star:nth-child(5)
    fill: url(#grad)

.stars-50
  .octicon-star:nth-child(-n+5)
    fill: #ffdb70


.rating-form
  a
    display: inline-block

@media (max-width: 992px)
  body
    .ingredients
      min-height: 10px
      border-right: none
  html, body, .menu
    min-height: auto
