.menu
  background: #3E4249
  p
    margin-bottom: 5px
    display: inline-block
  svg
    fill: #E5E5DA
    display: inline-block
    width: 22px
    height: 22px
  a
    color: #E5E5DA
    cursor: pointer
    display: block
    width: 100%
    padding-left: 10px
    &:hover
      color: #fff

.menu-links
  position: fixed

@media (max-width: 992px)
  .menu-links
    position: static
