.recipes-list
  img
    height: 70px
    width: 70px
  a
    display: block

.recipe-list-item-info
  vertical-align: top

.recipe-list-item
  border-bottom: 1px solid #BFBEBD
  &:hover
    background: #ececec
