<% content_for :header do %>
  <ul class="nav">
    <li class="nav-item">
      <%= link_to categories_path, class: "link-icon header-button btn btn-sm" do %>
        <%= octicon "arrow-left" %>
        <p>Back</p>
      <% end %>
    </li>
  </ul>
<% end %>

<div class="recipes-list">
  <h5 class="mb-4 ml-2 mt-2"><%= @category.name %></h5>
  <ul class="list-group">
    <%= render @category.recipes %>
  </ul>
</div>