<%= link_to "All Recipes", recipes_path %>
<% if logged_in? && current_user.admin? %>
  <div class="admin-control mt-5">
    <p class="m-0">Admin</p>
    <%= link_to "Sync all recipes", sync_recipes_path, method: "post" %>
    <%= link_to "Logout", logout_path, method: "post" %>
  </div>
<% end %>